<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="this.redirectToLogin()" text="LogIn"></ion-back-button>
    </ion-buttons>
    <ion-title>password recovery</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="passwordRecoveryForm"
        (ngSubmit)="this.recoverPassword()"
        class="form__login">
    <ion-input placeholder="Email"
               formControlName="email"
               class="input__login" ></ion-input>
    <ion-button class="button__login" type="submit" [disabled]="!passwordRecoveryForm.valid">Reset password</ion-button>
  </form>
</ion-content>
